* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
  /* 解决点击高亮*/
  -webkit-tap-highlight-color: transparent;
}
input {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}
img {
  display: block;
  width: 100%;
}
ul {
  list-style: none;
}
.clearfix:after {
  display: block;
  content: "";
  height: 0;
  clear: both;
}
